*{box-sizing:border-box;}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.btn {
  background-color: rgba(233, 233, 233, 0.038);
  color: white;
  font-family: 'Montserrat, sans-serif';
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 12px #ffffff, 0 18px rgba(0,0,0,0.4);
  font-size: 60px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  position: relative;
  top: 0;
}

.disabled .btn {
  cursor: default;
}

.disabled .btn:hover {
  top: 0;
  background: aqua;
  color: white;
  cursor: default;
  box-shadow: 0 12px #ffffff, 0 18px rgba(0,0,0,0.4);
}

.btn.disabled {
  cursor: default;
}
.btn.disabled:hover {
  top: 0;
  background: aqua;
  color: white;
  cursor: default;
  box-shadow: 0 12px #ffffff, 0 18px rgba(0,0,0,0.4);
}
.btn:hover {
  background-color: whitesmoke;
  color: aqua;
  top: 4px;
  box-shadow: 0 8px #1a1919, 0 10px rgba(0,0,0,0.4);
}
.btn:active {
  top: 8px;
  box-shadow: 0 4px rgb(238, 236, 109), 0 10px rgba(0,0,0,0.4);
}
.game {
  display: flex;
  flex-wrap: wrap;
}
.game-info {
  margin: 15px;
  color: black;
}
.board > div {
  display: flex;
}

.btnid {

  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  margin-top: 2px;
  margin-right: 1px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200%;
  color: white;            
  border-radius: 15px;
  display: block;
  border: none;
  transition: all 0.2s ease 0s;
  font-size: 12px;
  /* background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  margin-top: 2px;
  margin-right: 1px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  text-decoration: none;
  display: block; */
  /* transition: all 0.2s ease 0s; */
  /*height:25px;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;  */
}

.btnid:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
}